* {
    text-decoration: none;
}

/* body */

body {
    background-color: #f3f3f3;
    

}

/* header */
.header-brand {
    background-color: #fff;
    width: 100%;
    height: 80px;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
    
}
/* navbar */
.nav-link {
    font-size: 24px;
    padding-bottom: 10px;
}

/* main */

/* change margin to align with page*/
hr {
    margin: 0;
}

/* main- images /keeping image consistent in size*/
#self {
    width: 200px;   
}
#family {
    width: 200px;    
}

/* change font family taken from google font and other attributes*/
.title {
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: capitalize;
    display: block;
    margin: 0 auto;
    padding: 20px 0px 0px;
    
    
}

p {
    font-family: 'Varela Round', sans-serif;
}

/* footer*/
/* footer backgroud color and extend width to whole page*/
.footer-bg {
    background-color: #d7dde2;
    width: 100%;
}


/* css responsible for icon attribute*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
   

.fa-linkedin {
    background: #007bb5;
    color: white;
      }

.fa-github {
    background-color: #111;
    color: #fff;
   
}

